body {
  width: 90%;
  overflow: hidden;
  margin: 50px auto;

}

#frmRegPersona {
  width: 40%;
  float: left;
}

#tblPersonas {
  width: 50%;
  float: left;
}

#btnRegistrarPersona {
  margin: 20px;
}

input[type="text"] {
  margin: 10px 5px 0 0;
}

label {
  width: 18%;
}

.error {
  background: rgba(231, 76, 60,.7);
}

.divError {
  background: #e74c3c;
  font-size: 16px;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}

.ocultar {
  visibility: hidden;
}

.mostrar {
  visibility: visible;
}
